.grande{
    font-size: 200%;
}

.pequeño{
    font-size: 50%;
}

.nm{
    font-size: 100%;
}

.azul{
    color: blue;
}

.amarillo{
    color: yellow;
}

.verde{
    color: green;
}

.rojo{
    color: red;
}

.negro{
    color:black;
}